<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Twig Template{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {# body_replace can be used to skip the entire layout section #}
        {% block body_replace %}
            {% block layout %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
